
/* 1. ヘッダー上部 (青い部分) のサイズ調整 */
.header-top {
    width: 100%;
}
/*ログインページ*/
.form login-form{
    margin: auto;
    text-align: center;
    width: 100%;
}

.form-control{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* フォーム自体のスタイル調整 */
.login-form {
    /* 幅をページ幅の40%に強制的に設定 */
    width: clamp(400px, 50vw, 800px);
}

.me-3{
    font-size: clamp(10px, 1vw, 30px);
}

